.board{
  width: 15em;
  height: 10em;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/3474x2048/c996991f6ef082a137a219013a74f1bc/photo-1474487548417-781cb71495f3");
  background-size: cover;
  border-radius: 0.3em;
  padding: 1em 2em;
  margin: 0.36em;
  color: white;
}
.remove-text-decoration {
  text-decoration: none;
}
.navbar {
  background-color: blue;
  padding: 0 2.5em !important;
}
.navbar-home {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 0.66em 0;
}
.navbar-home:hover {
  padding: 0.55em 0;
  border-bottom: 4px solid #a5aac4;
  color: white;
}
.navbar-logo-container {
  margin: auto;
}
.navbar-logo {
  padding: 0.7em 4em;
  background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif");
  background-size: 6.5em;
  background-repeat: no-repeat;
}
.yyy{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.trello-boards-create-board {
  width: 16em;
  height: 10em;

  background-color: #091e420a;
  border-radius: 0.6em;

  margin: 0.2em;

  color:grey;
}

.trello-boards-create-board:hover {
  background-color: #091e4214;
}
.trello-create-board-container {
  background-color: white;
  padding: 1.5em;
}
.trello-boards-container {
  width: 100vw;
  height: 92vh;
  padding: 3em;
}

.trello-boards-board {
  width: 15em;
  height: 10em;

  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/3474x2048/c996991f6ef082a137a219013a74f1bc/photo-1474487548417-781cb71495f3");
  background-size: cover;
  border-radius: 0.6em;

  padding: 1em 2em;
  margin: 0.36em;

  color: white;
}

.trello-boards-create-board {
  width: 16em;
  height: 10em;

  background-color: #091e420a;
  border-radius: 0.6em;

  margin: 0.2em;

  color: #172b4d;
}

.trello-boards-create-board:hover {
  background-color: #091e4214;
}

.trello-create-board-buttons-container {
  margin-top: 2em;
}

.trello-create-board-close-button {
  margin-right: 1em;
}

.board-main-container {
  width: 100vw;
  height: 92vh;
  padding: 2em;
  overflow: auto;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/3474x2048/c996991f6ef082a137a219013a74f1bc/photo-1474487548417-781cb71495f3");
  background-size:cover;
}
.board-list-container {
  width: 16em;
  padding: 1em;
  background-color: #ebecf0;
  border-radius: 0.4em;
}



.board-add-list-container {
  width: 16em;
  padding: 0.4em 1em;
  background-color: #ffffff3d;
  border-radius: 0.4em;
  opacity: 0.6;
  color: white;
  margin-top:12px;
  margin-left:2px;
}
.board-add-list-container:hover {
  opacity: 1;
  cursor: pointer;
  color: black;
}
.board-add-list-icon {
  width: 1.6em;
}


.board-add-list-input-container {
  width: 16em;
  background-color: white;
  border-radius: 0.3em;
  padding: 1em;
}

.board-add-list-close-button {
  margin-left: 0.3em;
}

.board-list-close-icon {
  width: 1em;
}

.board-list-add-card-container {
  height: 2em;
  background-color: inherit;
  border-radius: 0.3em;
  color: #172b4d;
}
.board-list-add-card-container:hover {
  background-color: #091e4214;
  cursor: pointer;
}

.board-list-add-card-icon {
  width: 1.6em;
}

.board-list-add-card-input {
  border-radius: 0.3em;
  height: 4em;
  margin-bottom: 0.2em;
}

.trello-each-card-container {
  background-color: white;
  box-shadow: 0 1px 0 #091e4240;
  border-radius: 0.3em;
  margin-bottom: 0.4em;
  padding: 0.2em 0 0 0.6em;
}

.pointerCursor {
  cursor: pointer;
}

.trello-each-checklist-container {
  background-color: #ebecf0;
  padding: 0.6em;
  border-radius: 0.2em;
  box-shadow: 0 1px 0 #091e4240;
}
.trello-checklist-main-container {
  height: max-content;
  padding: 2em;
  background-color: white;
}
.trello-checklist-add-checkitem-close-button {
  margin-left: 0.5em;
  background-color: inherit !important;
  border: 0 !important;
  color: #172b4d !important;
}

.trello-checklist-add-checkitem-close-button:hover {
  background-color: #091e4214 !important;
}

.trello-checklist-add-checkitem-input {
  height: 3em;
  margin-bottom: 0.6em;
  font-size: 0.8em !important;
}
.trello-each-checkitem-checkBox {
  height: 0.8em !important;
  width: 0.8em !important;
}
.trello-each-checkitem-title {
  font-size: 0.9em;
  margin-left: 0.6em;
}

.trello-checklist-close-container {
  padding: 1em 1em 0 0;
}
.trello-checklist-close-icon {
  height: 1.1em;
}

.trello-checklist-list-title {
  font-size: 0.9em;
}

.trello-each-checklist-container {
  background-color: #ebecf0;
  padding: 0.6em;
  border-radius: 0.2em;
  box-shadow: 0 1px 0 #091e4240;
}

.trello-add-checklist-add-button {
  margin-left: 1em;
}

.trello-checkitem-checked {
  text-decoration: line-through;
  font-style: italic;
}

.trello-checkitem-close-icon {
  margin-left: auto;
  margin-right: 0.5em;
}

.trello-checklist-icon {
  margin-right: 0.5em;
}

.trello-boards-heading-container {
  padding: 0.5em;
}
.trello-boards-heading-icon {
  height: 1.4em;
  margin-right: 0.2em;
  padding: 0;
}
.trello-boards-heading {
  font-size: 1.21em;
  color: #172b4d;
}
.trello-boards-count {
  font-size: 0.8em;
}

.trello-spinner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointerCursor {
  cursor: pointer;
}
